listen stats
      mode http
      bind *:7000
      stats enable
      stats uri /
listen postgres
      bind *:5000
      mode tcp
      option httpchk
      http-check expect status 200
      default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups['psql'] %}
      server {{ host }} {{ hostvars[host]['private_ip'] }}:5432 maxconn 100   check   port 8008
{% endfor %}

